<div class="pa3 pa4-ns w-100 w-70-ns center">
    <h3>Mar 28th 2019</h3>
    <article class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy mid-gray">
        <div class="pa4">
          <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
              <thead>
                <tr>
                  <th class="fw6 bb b--black-10 tl pb3 pr3 bg-white">Time</th>
                  <th class="fw6 bb b--black-10 tl pb3 pr3 bg-white">Speaker</th>
                  <th class="fw6 bb b--black-10 tl pb3 pr3 bg-white">Title</th>
                </tr>
              </thead>
              <tbody class="lh-copy">
              {{ range .Site.Data.schedule_day1 }}
                <tr>
                  <td class="pv3 pr3 bb b--black-10">{{.time}}</td>
                  <td class="pv3 pr3 bb b--black-10">{{.speaker}}</td>
                  <td class="pv3 pr3 bb b--black-10">{{.title}}</td>
                </tr>
              {{end}}
              </tbody>
            </table>
          </div>
        </div>
    </article>
</div>
